*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* ### Primary */
  --softred: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  /* ### Primary */

  /* ### Neutral */
  --darkbrown: hsl(25, 47%, 15%);
  --mediumbrown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --verypaleorange: hsl(33, 100%, 98%);
  /* ### Neutral */

  --amount-value: "$22.4";
}

body {
  font-family: "DM Sans", sans-serif; /* 400, 700*/
  background: var(--cream);
}

p,
.main--text,
.main--cost,
.percentage-difference {
  color: var(--mediumbrown);
}

hr {
  height: 1px;
  color: var(--cream);
}

.container {
  width: 95%;
  margin: 2rem auto;
  max-width: 500px;
  border-radius: 15px;
  padding: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: var(--softred);
  color: var(--verypaleorange);
  margin-top: 15vh !important;
}

.header--text,
.header--title {
  color: var(--verypaleorange);
}

.header--title {
  padding: 0.4rem 0;
  font-size: 1.8rem;
}

main {
  background: var(--verypaleorange);
}

.graph {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: last baseline;
  padding: 1.8rem 0;
}

.main--body {
  padding: 1.5rem 0;
}

.amount--day {
  position: relative;
  cursor: pointer;
  transition: all 0.7s ease-out;
  border-radius: 5px;
}
.amount--day:hover {
  background: linear-gradient(110deg, var(--softred), var(--cream)) !important;
  transform: scale(0.9);
}

/* SHOW AMOUNT ON HOVER */

/* .bar {
  position: relative;
  /* other bar styles */
/* } */

.amount--day::after {
  /* content: var(--amount-value); */
  /* position: absolute; */
  /* opacity: 0; hide by default */
  /* whatever styles you want for the amount box */
}

.amount--day:hover::after {
  /* make it visible on hover */
  /* opacity: 1; */
}

/* SHOW AMOUNT ON HOVER */

.main--text {
  font-weight: 400;
  font-size: 1rem;
}

.main--cost,
.percentage-difference {
  font-weight: 700;
  color: var(--darkbrown);
}

.main--cost {
  font-size: 2.5rem;
}

.percentage-difference {
  text-align: right;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  color: var(--softred);
}

@media (max-width: 475px) {
  header {
    margin-top: 5vh !important;
  }

  .container {
    width: 94%;
    margin: 1.5rem auto;
    /* padding: 1rem; */
  }
  .amount--day {
    width: 40px !important;
  }

  .graph {
    gap: 2px;
  }

  .main--cost {
    font-size: 2rem;
  }
}
